body {
    color: rgb(171, 240, 12);
    background-color: rgb(37, 35, 35);
    font-size: 20px;
}

header {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    border: solid rgb(171, 240, 12);
    ;
    border-top: 3px;
    text-decoration: underline;
}

h1 {
    margin-bottom: 5px;

    
}



h2 {
    color: whitesmoke;
    font-size: 35px;
    margin-bottom: 100px;
    font-family: "Itim", serif;
    font-weight: 400;
}

.tela1 iframe {
    border: none;
}



.fundo-preto {
    background-color: black;
    padding: 10px;
    border-radius: 8px;
}


.fundo-preto iframe {
    opacity: 0.7; 
    transition: opacity 0.3s ease; 
}

.fundo-preto iframe:hover {
    opacity: 1; 
}

section {
    background-color: black;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

h2 {
    color: whitesmoke;
    font-size: 35px;
    margin: 0;
    font-family: "Itim", serif;
    font-weight: 400;
}

.video-gallery {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    margin-top: 20px;
}

.video-gallery iframe {
    flex: 0 0 auto;
    border: none;
    scroll-snap-align: start;
    opacity: 0.8; 
    transition: opacity 0.3s ease;
}

.video-gallery iframe:hover {
    opacity: 1; 
}
